#button_container{
    display: flex;              /* Enable flexbox */
    justify-content: center;    /* Center buttons horizontally */
    align-items: center;        /* Center buttons vertically */
    height: 100vh;    
}
.button_mode{
    display: inline-block;
    text-align: center;
    margin: 10px;
    background-color: rgb(138, 212, 218);
    height: 40px;
    width: 110px;
}
#game_board{
    display: grid;
    grid-template-columns: repeat(10, 40px); /* Adjust the number of columns and cell size */
    grid-template-rows: repeat(10, 40px);    /* Adjust the number of rows and cell size */
    gap: 5px;
}
.board_cell{
    height: 30px;
    width: 30px;
    background-color:aquamarine;
}